{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BizLedger ERP</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<header>
    {% include 'includes/navbar.html' %}
</header>

<div class="container">

    <div class="sidebar">
        {% include 'includes/sidebar.html' %}
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

</div>

</body>
</html>